{% extends 'index.html' %}

	{% block content %}
		{% if partidoList %}
			
			<h3> Partidos </h3>

				<table border="1">
					<thead>
						<tr>
							<th>Partido</th>
							<th>Fecha</th>
						</tr>
					
					<tbody>
						{% for Partido in partidoList %}
							<tr>
								{% if not Partido.resultado_equipo_casa %}
									<td><a href="/principal/calendario/jornada{{Partido.jornada}}/{{Partido.id}}">{{ Partido.nombre_equipo_casa }} - {{ Partido.nombre_equipo_fuera }}</td>
									<td>{{Partido.fecha_partido}}
									
								{% else %}
									<td><a href="/principal/calendario/jornada{{Partido.jornada}}/{{Partido.id}}">{{ Partido.nombre_equipo_casa }} {{Partido.resultado_equipo_casa}} - {{ Partido.nombre_equipo_fuera }} {{ Partido.resultado_equipo_fuera }}</a></td>
									<td>Finalizado
									
								{% endif %}

							</tr>

						{% endfor %}
			
				</table>
			

		{% else %}
			<h1> No hay partidos </h1>
		{% endif %}
	{% endblock %}
