{% extends "index.html" %}

{% block TitleContent %} Diario de pensamientos {% endblock %}

{% block Content %}

	{% if entrada %}

		<div class = "row">
			<div class = "col-md-2">
				<br>
				<p>
					<a class = "btn btn-lg btn-primary" href = "/diario/editar-entrada-pensamientos-{{entrada.id}}" role = "Editar entrada diario pensamientos"> Editar </a>
				</p>
				<p>
					<a class = "btn btn-lg btn-primary" href = "/diario/eliminar-entrada-pensamientos-{{entrada.id}}" role = "Eliminar entrada pensamientos"> Eliminar </a>
				</p>
			</div>
			<div class = "col-md-8">
				<blockquote>
					<h2> {{entrada.titulo}} </p>
					<p> {{entrada.contenido}} </p>
					<footer> {{entrada.fecha}}, {{entrada.hora}} </footer>
				</blockquote>
			</div>
		</div>

	{% else %}

		<p> No existe la entrada indicada. </p>

	{% endif %}

{% endblock %}
{% block right-navigation %}
	<div id="dividerDiarios"></div>
{% endblock %}
