{% extends "index.html" %}

{% block TitleContent %} Agenda {% endblock %}

{% block Content %}

	{% if entrada %}
		<div class = "row">
			<div class = "col-md-2">
				<br>
				<p>
					<a class = "btn btn-lg btn-primary" href = "/diario/editar-entrada-agenda-{{entrada.id}}" role = "Editar entrada agenda"> Editar </a>
				</p>
				<p>
					<a class = "btn btn-lg btn-primary" href = "/diario/eliminar-entrada-agenda-{{entrada.id}}" role = "Eliminar entrada agenda"> Eliminar </a>
				</p>
			</div>
      <div class = "col-md-8">
				<blockquote>
					<h2> {{entrada.titulo}} </p>
					<div word-wrap: break-word>
						<p word-wrap:break-word> {{entrada.contenido}} </p>
					</div>
					<footer> {{entrada.fecha}}, {{entrada.hora}} </footer>
				</blockquote>
			</div>
		</div>
	{% else %}

		<p> No existe la entrada indicada. </p>

	{% endif %}

{% endblock %}
{% block right-navigation %}
	<div id="dividerDiarios"></div>
{% endblock %}
