{% extends "index.html" %}

{% block TitleContent %} Diario personal {% endblock %}

{% block RightNavBar %}

	<li><a href = "/diario/personal-nueva-entrada-{{diario.id}}"> Nueva entrada </a></li>

{% endblock %}

{% block Content %}

	{% if entradas %}
		{% for entrada in entradas %}

			<ul>
				<li><a href = "/diario/detalles-entrada-personal-{{entrada.id}}"> {{entrada.fecha}} {{entrada.hora}} {{entrada.titulo}} </a></li>
			</ul>

		{% endfor %}
	{% else %}
		
		<p> El diario personal no tiene ninguna entrada. </p>

	{% endif %}

{% endblock %}
{% block right-navigation %}
	<div id="dividerDiarios"></div>
{% endblock %}
